<h1>Sign In</h1>

<div
  *ngIf="hasSessionExpired"
  class="alert alert-danger d-inline-block mx-auto mt-4"
>
  Your session has expired. Please log in again.
</div>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="my-4 d-flex flex-column justify-content-center align-items-center gap-2 text-secondary"
>
  <!-- Username -->
  <!-- Input -->
  <div class="form-floating">
    <input
      formControlName="username"
      id="username"
      type="text"
      placeholder="Username"
      class="form-control pe-2 bg-light"
      [class.is-invalid]="username?.invalid && username?.touched"
    />
    <label for="username">Username</label>
  </div>
  <!-- Validation -->
  <ul
    *ngIf="username?.invalid && username?.touched"
    class="list-unstyled text-danger"
  >
    <li *ngIf="username?.errors?.['required']">The username is required.</li>
    <li *ngIf="username?.errors?.['minlength']">
      The username must be at least 3 characters long.
    </li>
    <li *ngIf="username?.errors?.['pattern']">
      The username must only contain alphanumeric characters.
    </li>
  </ul>

  <!-- Password -->
  <!-- Input -->
  <div class="form-floating">
    <input
      formControlName="password"
      id="password"
      type="password"
      placeholder="Password"
      class="form-control pe-2 bg-light"
      [class.is-invalid]="password?.invalid && password?.touched"
    />
    <label for="password">Password</label>
  </div>
  <!-- Validation -->
  <ul
    *ngIf="password?.invalid && password?.touched"
    class="list-unstyled text-danger"
  >
    <li *ngIf="password?.errors?.['required']">The password is required.</li>
    <li *ngIf="password?.errors?.['minlength']">
      The password must be at least 8 characters long.
    </li>
    <li *ngIf="password?.errors?.['pattern']">
      The password must contain at least one number, one uppercase letter and
      one lowercase letter.
    </li>
  </ul>

  <!-- Submit -->
  <button
    type="submit"
    class="rounded-button clickable | my-2 d-flex justify-content-center align-items-center"
  >
    <svg
      width="1.25rem"
      viewBox="0 -6.5 38 38"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      fill="#000000"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <title>right-arrow</title>
        <desc>Created with Sketch.</desc>
        <g
          id="icons"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g
            id="ui-gambling-website-lined-icnos-casinoshunter"
            transform="translate(-1511.000000, -158.000000)"
            fill="#ffffff"
            fill-rule="nonzero"
          >
            <g id="1" transform="translate(1350.000000, 120.000000)">
              <path
                d="M187.812138,38.5802109 L198.325224,49.0042713 L198.41312,49.0858421 C198.764883,49.4346574 198.96954,49.8946897 199,50.4382227 L198.998248,50.6209428 C198.97273,51.0514917 198.80819,51.4628128 198.48394,51.8313977 L198.36126,51.9580208 L187.812138,62.4197891 C187.031988,63.1934036 185.770571,63.1934036 184.990421,62.4197891 C184.205605,61.6415481 184.205605,60.3762573 184.990358,59.5980789 L192.274264,52.3739093 L162.99947,52.3746291 C161.897068,52.3746291 161,51.4850764 161,50.3835318 C161,49.2819872 161.897068,48.3924345 162.999445,48.3924345 L192.039203,48.3917152 L184.990421,41.4019837 C184.205605,40.6237427 184.205605,39.3584519 184.990421,38.5802109 C185.770571,37.8065964 187.031988,37.8065964 187.812138,38.5802109 Z"
                id="right-arrow"
              ></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </button>

  <!-- Wrong Details Alert -->
  <div *ngIf="loginForm.errors?.['wrongDetails']" class="text-danger">
    Sorry, your username or password was incorrect.
  </div>

  <!-- Help -->
  <a
    onclick="alert('⚠️ This feature has not been implemented yet.')"
    class="text-secondary"
  >
    Need help?
  </a>
</form>

<footer class="text-secondary">
  Are you new?
  <a routerLink="/register" class="fw-bold">Sign up now</a>
</footer>
