<nav class="navbar navbar-expand-lg">
  <a routerLink="./">
    <img
      src="../../../../assets/logos/fcul.png"
      alt="FCUL Logotype"
      id="logo"
      class="clickable"
      width="150px"
    />
  </a>

  <button
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
    [class.menuOpened]="!isMenuCollapsed"
    class="text-fcul | navbar-toggler border-0 fs-1"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="navbar-collapse text-center">
    <ul class="navbar-nav w-50 mx-auto justify-content-between fs-5">
      <!-- Home -->
      <li>
        <a
          routerLink="./"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMenuCollapsed = true"
          class="clickable text-fcul | nav-link"
        >
          HOME
        </a>
      </li>

      <!-- Store -->
      <li>
        <a
          routerLink="./store"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
          class="clickable text-fcul | nav-link"
        >
          STORE
        </a>
      </li>

      <!-- Cart -->
      <li>
        <a
          routerLink="./cart"
          routerLinkActive="active"
          (click)="isMenuCollapsed = true"
          class="clickable text-fcul | nav-link"
        >
          CART
        </a>
      </li>

      <!-- Account -->
      <li ngbDropdown>
        <a ngbDropdownToggle class="clickable text-fcul | nav-link">
          ACCOUNT
        </a>
        <div ngbDropdownMenu class="text-center">
          <a
            ngbDropdownItem
            routerLink="./details"
            routerLinkActive="active"
            onclick="alert('⚠️ This feature has not been implemented yet.')"
          >
            Details
          </a>
          <a
            ngbDropdownItem
            routerLink="./wishlist"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
          >
            Wishlist
          </a>
        </div>
      </li>
    </ul>

    <button
      class="rounded-button clickable | mt-lg-0 mt-3"
      (click)="isMenuCollapsed = true"
    >
      LOG OUT
    </button>
  </div>
</nav>
