:host {
  /* Private Variables */
  --_gap: 1rem;

  /* Styling */
  display: flex;
  gap: var(--_gap);
  padding-block: var(--_gap);

  /* Scroll */
  overflow-x: scroll;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

img {
  width: 225px;

  scroll-snap-align: center;
}

/* Scrollbar */
:host::-webkit-scrollbar {
  height: 1.25vh;
}

:host::-webkit-scrollbar-track {
  background-color: rgba(44, 64, 177, 0.171);
  border-radius: 100vw;
}

:host::-webkit-scrollbar-thumb {
  background-color: rgb(var(--fcul-blue));
  border-radius: 100vw;
}

:host::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}
