<ngb-pagination
  [page]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize"
  (pageChange)="selectPage($event)"
>
  <ng-template ngbPaginationPages let-page let-pages="pages">
    <li *ngIf="pages.length > 0" class="d-flex flex-nowrap align-items-center">
      <label id="paginationInputLabel" for="paginationInput" class="me-2 ms-1">
        Page
      </label>
      <input
        #i
        id="paginationInput"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        [value]="page"
        (keyup.enter)="selectPage(i.value)"
        (blur)="selectPage(i.value)"
        (input)="formatInput($any($event).target)"
        class="form-control text-center bg-light"
        style="width: 2.5rem"
        aria-labelledby="paginationInputLabel paginationDescription"
      />
      <span id="paginationDescription" class="px-2 text-nowrap">
        of {{ pages.length }}
      </span>
    </li>
  </ng-template>
</ngb-pagination>
