/* Variables */
:root {
  /* Colors */
  --fcul-blue: 44, 63, 177;
  --gray-blue: 153, 173, 201;

  /* Border Radii */
  --border-radius: 5px;
}

/* Classes */
.text-fcul {
  color: rgb(var(--fcul-blue));
}

.rounded-border {
  border-radius: var(--border-radius);
}

.shadow-black {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.rounded-button {
  height: clamp(auto, 20%, 3rem);
  width: clamp(auto, 20%, 10rem);

  border: none;
  border-radius: 64px;
  padding: min(1vh, 10px) min(3vw, 50px);

  white-space: nowrap;
  font-weight: 600;
  color: white;
  background-color: rgb(var(--fcul-blue));
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    transform: scale(0.96);
  }
}

/* Global Styling */
a {
  cursor: pointer;
}
