/* Variables */
:root {
  /* Colors */
  --fcul-blue: 44, 63, 177;
  --gray-blue: 153, 173, 201;

  /* Border Radii */
  --border-radius: 5px;
}

/* Global Styling Classes */
.text-fcul {
  color: rgb(var(--fcul-blue));
}

.rounded-border {
  border-radius: var(--border-radius);
}

.rounded-button {
  height: clamp(auto, 20%, 3rem);
  width: clamp(auto, 20%, 10rem);

  border: none;
  border-radius: 64px;
  padding: min(1vh, 10px) min(3vw, 50px);

  white-space: nowrap;
  font-weight: 600;
  color: white;
  background-color: rgb(var(--fcul-blue));
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.6;
}

.clickable:active {
  transform: scale(0.96);
}
